<%= link_to "Log Out", session_path(id: cookies[:user_id]), method: :delete %>

<h2>Submit a Link :</h2>
<%= form_for(@link) do |f| %>
  <%= f.label :url, "URL" %>
  <%= f.text_field :url %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.submit "Submit Link" %>
<% end %>

<h1>Links Index</h1>

<ul>
  <% @links.each do |link| %>
    <li>
      <h2><%= link.url %></h2>
      <h3><%= link.title %></h3>
      <h3><%= link_to "Edit", edit_link_path(link) %></h3>
      <% if link.read %>
        <!-- <h3 class="mark_read" id="<%= link.id %>">Mark as Unread</h3> -->
        <h3><%= link_to "Mark as Unread", link_path(link, switch: true), method: :patch, class: "mark_unread" %></h3>
      <% else %>
        <!-- <h3 class="mark_unread" id="<%= link.id %>">Mark as Unread</h3> -->
        <h3><%= link_to "Mark as Read", link_path(link, switch: true), method: :patch, class: "mark_read" %></h3>
      <% end %>
    </li>
  <% end %>
</ul>
