<%= link_to "Log Out", session_path(id: cookies[:user_id]), method: :delete %>

<h2>Search Field:</h2>
<input type="text" name="search_field" id="search_field"/>

<h2 class="sort-read-unread">Sort By Read / Unread</h2>



<h2>Submit a Link :</h2>
<%= form_for(@link) do |f| %>
  <%= f.label :url, "URL" %>
  <%= f.text_field :url %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.submit "Submit Link" %>
<% end %>

<h1>Links Index</h1>

<ul class="links-list">
</ul>
